@import '../../styles/variables.module.scss';

.itemsContainer {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0;
  background-color: $white;

  .listItem {
    list-style-type: none;
    border-bottom: thin solid $light-grey;
  }

  .divider {
    border: none;
    height: 1px;
    color: $primary-font;
    background-color: $primary-font;
  }
}